.form-group {
  padding: 4px 0;
}
.user-input {
  outline: none;
  border-bottom: 1px solid black;
  background: transparent;
  width: 90%;
}

.form-button {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  background-color: black;
  width: 90%;
}
